/*   Sitewide  */

.navbar {
    /*background: linear-gradient(to left, #b3af06, #233d4d);*/
    background: #b3af06;
    color: black;
    border-radius: 0px;
}

/*.navbar-custom-theme {
    
}*/

.navbar-brand {
    margin-left: 1rem;
}

#smart-logo, #smart-logo:hover, .navbar-dark .navbar-brand {
    color: #151515;
}

.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
    color: white;
}

.list-group-item {
    padding: 0.25rem 0.25rem;
    border: 0px;
    background-color: #b3af06;
}

.dropdown-menu {
    padding: 12px 0px;
    border: 0px;
    background-color: #b3af06;
}

/*.second-link {
    padding-left: 25px;
}*/

/*.g-signin2{
    border-radius: 20px;
}*/

#user-menu {
    display: none;
}

#pic {
    border-radius: 50%;
}

a {
    color: #58a4b0;
    padding-right: 25px;
}


/* homepage */
#stock-realtime {
    display: none;
}

/* screen page*/
#turnover-left {
    margin-left: 12px;
}



/* result page*/
.star2 {
    color:yellow;
}
.star3 {
    color: blue;
}

.g-data {
    display: none;
}

/* Watchlist */
.btn-light{
    margin: 5px;
}

/* Profile page*/
#pic-big {
    border-radius: 50%;
}

#email {
    text-align: center;
}

#years {
    margin-left: 12px;
}

#growth {
    margin-left: 12px;
}