/*   Sitewide  */

.navbar {
    background-color: #b3af06;
    color: white;
    border-radius: 0px;
}

#smart-logo, #smart-logo:hover, .navbar-dark .navbar-brand {
    color: #151515;
}

.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
    color: white;
}

section {
    margin-top: 50px;
}



/* Watchlist */
.star2 {
    color:yellow;
}
.star3 {
    color: blue;
}
/*.g-signin2{
    margin-left: 500px;
    margin-right: 200px;
}*/
.data {
    display: none;
}

#modalLabel {
    color: black;
}
