/*   Sitewide  */

.navbar {
    /*background: linear-gradient(to left, #b3af06, #233d4d);*/
    background: #b3af06;
    color: white;
    border-radius: 0px;
}

/*.navbar-custom-theme {
    
}*/

.navbar-brand {
    margin-left: 1rem;
}

#smart-logo, #smart-logo:hover, .navbar-dark .navbar-brand {
    color: #151515;
}

.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
    color: white;
}

section {
    margin-top: 50px;
}

#modalLabel {
    color: black;
}

/*.g-signin2{
    border-radius: 20px;
}*/

#user-menu {
    display: none;
}

#pic {
    border-radius: 50%;
}

/* Watchlist */
.star2 {
    color:yellow;
}
.star3 {
    color: blue;
}

.g-data {
    display: none;
}
