<!DOCTYPE html>
<html>
<head>
  <title>Smart Investor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <script type="module">
      import '@polymer/paper-item/paper-item.js';
  </script> -->
  {% block head%}
      
  {% endblock %}

</head>
<body>

<h1>Smart Investor</h1>

{% block content %}
  Other pages
{% endblock %}

  </br></br></br>
  <footer>
    Smart Investor<br>
    Copyright@2020<br>
    <a href="https://github.com/nancydyc">
    Yichen's Github</a> | 
    <a href="https://www.linkedin.com/in/yichen-dai-20557a195/">
    Yichen's LinkedIn</a>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>