<!DOCTYPE html>
<html>
<head>
  <title>Smart Investor</title>
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <!-- chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
  <!-- Highcharts -->
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/data.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <!-- css -->
  <link rel="stylesheet" href="/static/style.css">
  <!-- google sign in -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="551014528031-h59fl3ab486khuvmvrfogh3bujhhbbrh.apps.googleusercontent.com">
  <!-- Start of Async Drift Code -->
  <script src="static/drift.js"></script>
  <!-- End of Async Drift Code -->
  {% block head%} 
  {% endblock %}
</head>

<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">

    <!-- Make navbar toggleable for small devices -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <!-- <div class="navbar-nav mr-auto"> -->
    <a id="smart-logo" class="navbar-brand" href="/"><b>Smart Investor</b></a>
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/screen">Screener</a>
        </li>
        <li class="nav-item">
          <a class="login-required nav-link" href="/watchlist">Watchlist</a>
        </li>
      </ul>
    </div>
    <!-- end collapse -->

    <!-- search stocks -->
    <button class="btn btn--lighten btn--search j-btn-search nav-item" type="submit">
      <i class="fab fa-searchengin" data-toggle="modal" data-target="#searchModal"></i>
    </button>
   
  <!-- </div> -->
    
    <!-- search modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <!-- search form -->
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">
              <form class="form-inline my-2 my-lg-0" id="index-form" action="/stock" >
                <input class="form-control mr-sm-2" id="index-search" type="text" name="word" placeholder="Type symbols or key words">
                <button class="btn btn--lighten btn--search j-btn-search" type="submit"><i class="fab fa-searchengin"></i>
                </button>
              </form>
            </h5>
            <!-- end form -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- search results -->
            <ul id="index-search-results"></ul>

          </div>

        </div>
      </div>
    </div>
    <!-- end search modal -->
    
    <ul class="navbar-nav ml-auto">
      <!-- google login/out -->
      <li class="nav-item">
        <div class="g-signin2" data-width="100" data-onsuccess="onSignIn"></div>
      </li>
    </ul>

    <div class="btn-group dropleft">
      <button class="btn dropdown-toggle" id="user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="img-circle" id="pic" width="50" height="50">
      </button>
        <!-- user menu -->
        <div class="dropdown-menu" aria-labelledby="user-menu">
        
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
              <a class="dropdown-item login-required" id="profile" href="/profile">Profile</a>
            </li>
            <li class="list-group-item">
              <button class="dropdown-item" id="sign-out" onclick="signOut()">Sign out</button>
            </li>
          </ul>
          
        </div>
    </div>
  
   </nav> 


  <br>
  <h3 class="container">Welcome to Smart Investor</h3>
  <br>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-primary">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}



  {% block content %}

    Other pages

  {% endblock %}

  <footer class="container">
    <br><br>
    Smart Investor
    <br>
    Copyright@2020
    <br>
    <a href="https://github.com/nancydyc">
    Yichen's Github</a>|
    <a href="https://www.linkedin.com/in/yichen-dai-20557a195/" style="padding-left: 20px;">
    Yichen's LinkedIn</a>
  </footer>

  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/login.js"></script>
  <script src="static/search.js"></script>
</body>
</html>