{% extends 'base.html' %}


{% block head %}
{% endblock %}


{% block content %}

  <h2>Home</h2><br><br>

  <form id="form" action="/stock" >
      <input id="search" type="text" name="symbol">
      <button type="submit">Search <i class="fab fa-searchengin"></i>
      </button>
  </form>

  <ul id="search-results"></ul>
  <br><br>

  <a href="/screen">Stock Screener</a>
  <br><br>

  <div>
    <span>Stock: </span>
    <b id="stock"></b>
  </div>
  <div>
    <span>$ </span>
    <b id="realtime"></b>
  </div>

  <canvas id="price-chart"></canvas>

  <script src="static/home.js"></script>
{% endblock %}


