{% extends 'base.html' %}


{% block head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
{% endblock %}


{% block content %}

  <h2>Home</h2>

  <form id="form" action="/stock" >
    Search stocks by symbol 
    <input id="search" type="text" name="symbol">
    <button type="submit">Search</button>
    <!--display chart button-->
  </form>

  <ul id="names"></ul>
  <br><br>

  <a href="/screen">Stock Screener</a>
  <br><br>

  <h2 id="stock">Stock: </h2> 
  <h1 id="realtime">$ </h1>

  <div>
    <canvas id="price-chart"></canvas>
  </div>
  <script src="static/charts.js"></script>
{% endblock %}


