{% extends 'base.html' %}


{% block head %}
{% endblock %}


{% block content %}
<div class="container">

  <!-- <div class="row"> -->
    <!-- <div class="col"> -->
      <div id="stock-realtime-info">

        <div>
          <h5>
            <span>Stock: {{ realtime.symbol }} </span>
            <b id="stock"></b>
          </h5>
        </div>

        <div>
          <h4>
            <span>$ </span>
            <b id="realtime-price">{{ '%0.2f' | format(realtime.realtime | float) }}</b>
          </h4>
        </div>

        <div>
          <!-- <form> -->
            <!-- <input name="{{ realtime.symbol }}"> -->
            <button id="chart-btn" data-name="{{ realtime.symbol }}">Show Chart</button>
          <!-- <form> -->
        </div>

      </div>
    <!-- </div> -->

      <div id="index-container" style="height: 400px; min-width: 310px">
      </div>
</div>



<script src="static/index.js"></script>

{% endblock %}


