{% extends 'base.html' %}


{% block head %}
{% endblock %}


{% block content %}

  <form id="form" action="/stock" >
      <input id="search" type="text" name="word">
      <button type="submit">Search <i class="fab fa-searchengin"></i>
      </button>
  </form>

  <ul id="search-results"></ul>
  <br><br>

  <a href="/screen">Stock Screener</a>
  <br><br>

  <div>
    <span>Stock: </span>
    <b id="stock"></b>
  </div>
  <div>
    <span>$ </span>
    <b id="realtime"></b>
  </div>

  <div id="container" style="height: 400px; min-width: 310px"></div>

  <script src="static/index.js"></script>

{% endblock %}


