{% extends 'base.html' %}


{% block content %}


<h2>Stock Screener</h2>
<div>
    <form action="/result">
        How do you want to filter the stocks? </br></br>

        <input type="checkbox" name="screen" value="price">
        <label>5 Days EMA Price</label>

            $ <input type="number" name="left" step="any" min=0 value=0>  

            to $ <input type="number" name="right" step="any" min=0 value=0>
        </br></br>

        <input type="checkbox" name="screen" value="volume">
        <label>Share Turnover Ratio</label>

            <input type="number" name="price" step="any" min=0>%  

            to <input type="number" name="price" step="any" min=0>%
        </br></br>

        <input type="checkbox" name="screen" value="price">
        <label>Market Capitaliztion</label>

            $ <input type="number" name="price" step="any" min=0>  

            to $ <input type="number" name="price" step="any" min=0> (millions)
            </br></br>
        <button type="submit">Screen</button>
    </form>
</div>

{% endblock %}