{% extends 'base.html' %}


{% block content %}

<div class="container">
  <h4>My Watch List</h4><br>

  <a href="/pages">Back to Screening Results</a><br><br>

  {% for i in watchlist %}
    <div class="row" id="watch-{{ i.stock_id }}">
      <div class="col-3">
        <p>{{ i.stock_id }}
          <b id="stock">{{ i.stock.company_name }}</b>
        </p>
      </div>
      <div class="col-1">
        <i class="delete fas fa-trash-alt" data-name="{{i.stock_id}}"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <b id="ave-price" style="font-size: 36px;">$ {{ '%0.2f' | format(i.stock.weekly_ave_price | float) }}</b>
      </div>
      <div class="col-9">
        <canvas class="allmycharts" id="{{i.stock_id}}"></canvas>
      </div>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col">
        <form id="form-{{ i.stock_id }}">
          <div class="form-row align-items-center">
            <div class="col-auto">
              Average Cost <br>
              <input class="form-control" id="ave-cost-{{ i.stock_id }}" type="number" name="cost" value="0" data-name="{{i.stock_id}}">
            </div>
            <div class="col-auto">
              Shares <br>
              <input class="form-control" id="shares-{{ i.stock_id }}" type="number" name="shares" value="0" data-name="{{i.stock_id}}">
            </div>
            <div class="col-auto">
              Total Value: <br>
              <p><b id="total-{{ i.stock_id }}"></b></p>
              <br>
            </div>
          </div>
          <div class="form-row">
            <button class="btn btn-light" id="calculate">Add Holdings</button>
            <button class="btn btn-light" id="cancle">Close Holdings</button>
          </div>
        </form>
      </div>
    </div>
  {% endfor %}

</div>

<script type="text/javascript" src="/static/watchlist.js"></script>

{% endblock %}