{% extends 'base.html' %}


{% block content %}


<h2>My Watch List</h2><br>

<a href="/screen">Stock Screener</a><br><br>
<a href="/pages">Back to Screening Results</a><br><br>

{% for i in watchlist %}
<div>
  <div>
    <span>Stock: </span>{{ i.stock_id }}
    <b id="stock">{{ i.stock.company_name }}</b>
  </div>
  <div>
    <span>$ </span>
    <b id="ave-price">{{ '%0.2f' | format(i.stock.weekly_ave_price | float) }}</b>
  </div>
  <canvas class="allmycharts" id="{{i.stock_id}}"></canvas>
  <!-- below is for adding holding stocks in watchlists -->
  <form id="holding" action="/holding" >
    What's your average cost on holding the stock?<br>
    <input id="ave-cost" type="number" name="cost" value="0"><br><br>
    How many shares do you hold on the stock?<br>
    <input id="shares" type="number" name="shares" value="0">
    <br><br>
    <button type="submit">Add Holdings</button>
    <button type="submit">Close Holdings</button>
  </form>
  <br><br>
</div>
{% endfor %}
<script type="text/javascript" src="/static/watchlist.js"></script>

{% endblock %}